
/* Display inställningar */
.d-flex {display: flex }
.d-none {display: none;}



/**********
***Flex****
**********/
.flex-row { flex-direction: row;}
.flex-column {flex-direction: column;}
.flex-grow{ flex-grow: 1;  }
.flex-rowreverse {flex-direction: row-reverse;}

/***  Ailgn och Justift ***/

.justify-content-between {justify-content: space-between;}
.align-items-center{align-items: center;}
.justifty-content-center {justify-content: center;}